.container {
    flex: 1;
    justify-content: "center";
    align-items: "center";
    text-align: "center";
}

// Navigation Menu
.root {
    flex: 1;
    margin-bottom: 75px;

}

.navTitle {
    flex-grow: 1;
}

// Search Page

.autocomplete {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.welcome {
    font-size: 250%;
    margin-bottom: 0;
}

.subtitle {
    margin-bottom: 50px;
}

.reviewButton {
    width: 300px;
}

