* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

.container {
    flex: 1 !important;
    justify-content: center !important;
    align-items: center !important;
}

a {
    text-decoration: none;
    color: inherit;
}

// Navigation Menu
.root {
    flex: 1;
    margin-bottom: 75px;
}

.navTitle {
    flex-grow: 1;
}

.navAvatar {
    font-size: 90%;
    font-weight: 600;
}

// Search Page

.searchLink {
    color: gray !important;
}

.autocomplete {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 300px;
}

.welcome {
    font-size: 250%;
    margin-bottom: 0;
}

.subtitle {
    margin-bottom: 50px;
}

.reviewButton {
    width: 300px;
    margin-bottom: 60px !important;
}

.reviewRow {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    width: 65vw;
}

.recentReviewsTitle {
    margin-bottom: 20px;
    font-size: 190%;
}

.underlineRecentReviews {
    width: 65vw;
    background-color: #E0E0E0;
    border: 0 none;
    height: 2.2px;
    margin-bottom: 15px;
}

// Review page

.reviewContainer {
    margin: 0 auto;
    width: 700px;
    text-align: left;

}

.underlineReview {
    width: 700px;
    background-color: #E0E0E0;
    border: 0 none;
    height: 1.73px;
    margin-bottom: 50px;
}

.underlineReviewPage {
    width: 700px;
    background-color: #E0E0E0;
    border: 0 none;
    height: 1.73px;
    margin-bottom: 50px;
}

.reviewTitle {
    font-weight: bold;
}

.reviewFormItem {
    width: 100% !important;
    margin-bottom: 25px !important;

}

.reviewAutocomplete {
    width: 100%;
}

.reviewBox {
    padding: 0;
    margin-bottom: 25px !important;
    margin-top: 10px;
    

}

// Review component

.reviewBoxContainer {
    width: 28%;
    background-color: white;
    text-align: left;
    padding: 15px;
}

.avatar {
    float: left;
    margin-right: 25px;
    width: 5px;
    font-weight: 500;
    font-size: 95%;
}

.rating {
    margin-top: 5px
}

.reviewComponentTitle {
    font-weight: bold;
}

.reviewComponentParagraph {
    font-style: italic;
    margin-right: 4px;
}

// MyReviewPage

.myReviewTitle {
    font-weight: bold;
    font-size: 140%;
    margin-bottom: 0;
}

.myReviewContainer {
    margin: 0 auto;
    width: 700px;
    flex: 1;
    text-align: center;
}

// ReviewRect

.reviewRectBoxContainer {
    width: 100%;
    background-color: white;
    text-align: left;
    padding: 25px;
    margin-bottom: 40px;
}

.avatarRect {
    float: left;
    margin-right: 12px;
    font-weight: 500;
    font-size: 120%;
    margin-top: 0;
}

.reviewAuthor {
    float: left;
    font-weight: bold;
    font-size: 102%;
    margin-block-start: 0.65em !important;
}

.rectUnderline {
    background-color: #E0E0E0;
    border: 0 none;
    height: 1.1px;
    margin-top: 8px;
    clear: both;
}

.ratingRect {
    margin-top: 7px;
    float: left;
}

.reviewRectComponentTitle {
    font-weight: bold;
    font-size: 115%;
}

.reviewRectComponentTitleName {
    font-weight: bold;
    font-size: 115%;
}

.reviewRectComponentParagraph {
    font-style: italic;
    margin-right: 4px;
    font-size: 115%;
}

.reviewRectParagraph {
    font-size: 107%;
    margin-block-start: 0.5em;
    text-align: justify;

}

.reviewRectTitle {
    margin-top: 55px;
    clear: both;
    margin-block-end: 0.5em;
}

.reviewRectIconButton {
    padding: 8px !important;
    margin-left: 2px !important;
}

.iconContainer {
    text-align: right;
}

// Profile

.profileBox {
    padding: 30px;
    margin-top: 20px;
}

.profileContent {
    width: 300px;
}

.form-groupFrom {
    width: 100% !important;
    input {
        width: 100%;
    }
}

.confirmPassword {
    font-size: 50%;
}

// BREAKPOINTS

@media only screen and (max-width: 1600px) {
    .reviewRow {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        width: 70vw;
        margin-bottom: 100px;
    }

    .underlineRecentReviews {
        width: 70vw;
        background-color: #E0E0E0;
        border: 0 none;
        height: 2.2px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .reviewRow {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        width: 70vw;
        margin-bottom: 75px;
    }

    .underlineRecentReviews {
        width: 70vw;
        background-color: #E0E0E0;
        border: 0 none;
        height: 2.2px;
        margin-bottom: 15px;
    }

    .reviewBoxContainer {
        width: 100%;
        background-color: white;
        text-align: left;
        padding: 15px;
        margin-bottom: 30px;
    }

    .welcome {
        font-size: 200%;
        margin-bottom: 0;
    }

    .myReviewContainer {
        margin: 0 auto;
        width: 75vw;
        flex: 1;
        text-align: center;
    }

    .underlineReview {
        width: 75vw;
        background-color: #E0E0E0;
        border: 0 none;
        height: 1.73px;
        margin-bottom: 50px;
    }

    .reviewContainer {
        margin: 0 auto;
        width: 75vw;
        text-align: left;
    
    }

    .underlineReviewPage {
        width: 75vw;
        background-color: #E0E0E0;
        border: 0 none;
        height: 1.73px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .welcome {
        font-size: 150%;
        margin-bottom: 0;
    }

    .searchContainer {
        width: 60vw;
        text-align: center;
        margin: 0 auto;
    }

    .autocomplete {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 100%;
    }

    .reviewButton {
        width: 100%;
        margin-bottom: 60px !important;
    }

    .reviewAuthor {
        display: none;
    }

    .rectTime {
        display: none;
    }

    .reviewRectTitle {
        font-size: 95%;
        margin-top: 55px;
        margin-block-end: 0.5em;
        clear: both;
    }

    .profileBox {
        padding: 30px;
        margin-bottom: 75px;
        margin-top: 0;
    }
    
    .profileContent {
        width: 50vw;
    }
    
    .form-groupFrom {
        width: 100% !important;
        input {
            width: 100%;
        }
        label {
            font-size: 15px !important;
        }
    }

    .headerProfile {
        font-size: 20px !important;
    }

    .confirmPassword {
        display: none;
    }

    .reviewSubmit {
        max-width: 50vw;
    }

    .myReviewTitle {
        font-weight: bold;
        font-size: 110%;
        margin-bottom: 0;
    }

    .btnProfile {
        font-size: 15px !important;
        padding: 8px 10px !important;
        max-width: 30vh !important;

    }

    .reviewRectComponentParagraph {
        display: none;
    }

    .reviewRectComponentTitleName {
        display: none;
    }

    .reviewRectParagraph {
        font-size: 107%;
        margin-block-start: 0.5em;
        text-align: left;    
    }
}

